<!DOCTYPE html>
<html>
<head>
    <title>Página Inicial - Lucas Vitor Rocha Lima</title>
    <style>
        .titulo {
            text-align: center;
        }
        
        .rodape {
            text-align: right;
        }
        
        .cor_fundo {
            background-color: rgb(81, 121, 148);
        }

        /* Estilos do link */
        .slideshow-link {
            display: block;
            text-align: center;
            margin-top: 20px;
            font-size: 20px;
            color: white;
            text-decoration: none;
        }
    </style>
</head>
<body class="cor_fundo">
    <h1 class="titulo">Lucas Vitor Rocha Lima</h1>
    <center>
        <img class="image" src="C:\Users\gix\.vscode\atv-front-end\atv-front-end\noturno.jpg" alt="fundo" width="250" height="300">
    </center>
    <h3>Idade: 21</h3>
    <h3>Atualmente cursando Ciência da Computação na UNA - Campus Barreiro</h3>
    <h3>Trabalho atualmente como Service Analyst</h3>
    <h3>Gosto de jogar, meu estilo musical é eclético. Sou competitivo e gosto de desafios.</h3>

    <!-- Link para o Slideshow Automático -->
    <p><a href="slideshow.html" class="slideshow-link">Visitar o Slideshow Automático</a></p>

    <!-- Link para o Mural de Fotos -->
    <p><a href="mural_fotos.html" class="slideshow-link">Visitar o Mural de Fotos</a></p>
</body>
<footer>
    <h2 class="rodape">Página do Lucas Vitor Rocha Lima, desenvolvida na aula de 30/09.</h2>
</footer>
</html>
